cdk.server.mode=true

cdk.forward.apache.client.max_connections=150
cdk.forward.apache.client.max_per_route=100

#KNAV
cdk.collections.sources.knav.baseurl=https://kramerius.lib.cas.cz/search
cdk.collections.sources.knav.username=xxx
cdk.collections.sources.knav.pswd=xxx
cdk.collections.sources.knav.api=v7
cdk.collections.sources.knav.forwardurl=http://knav-tunnel.cdk-proxy.svc.cluster.local/search
cdk.collections.sources.knav.licenses=true

#MZK
cdk.collections.sources.mzk.baseurl=https://api.kramerius.mzk.cz/search
cdk.collections.sources.mzk.username=xxx
cdk.collections.sources.mzk.pswd=xxx
cdk.collections.sources.mzk.api=v7
cdk.collections.sources.mzk.forwardurl=http://mzk-tunnel.cdk-proxy.svc.cluster.local/search
cdk.collections.sources.mzk.licenses=true

cdk.shibboleth.forward.headers=<headers>
