# hazelcast (lock-server) app env example
# Source: templates/lock-server/statefulset.yaml

# From timezone-config ConfigMap (shared chart setting)
TZ=Europe/Prague

# From hazelcast.env
JAVA_OPTS="-Xms512M -Xmx2G -Dhazelcast.diagnostics.enabled=true"
