var APP_GLOBAL = {
  coreBaseUrl: '{api host}/search',
  userClientBaseUrl: '{from values.yaml}',
  deployPath: '',
  keycloak: {
    loginType: 'all'
  },
  homeDashboard: [
    { type: 'processes' },
    { type: 'indexing', subtype: 'object' },
    { type: 'repository', subtype: 'repository-management' },
    { type: 'import', subtype: 'foxml' },
    { type: 'collections' },
    { type: 'monitoring', subtype: 'api', hidden: true }
  ],
  devMode: false
};
